---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 70px;
}

.as-nav {
	border-bottom: 1px solid #3E606F;

	.navbar-brand {
		font-weight: 700;
		color: #193441;
	}	
}

.as-footer {
	padding-top: 10px;
	padding-bottom: 20px;
	color: #3E606F;
	text-align: center;
	border-top: 1px solid #3E606F;
}

.as-footer-links {
	padding-left: 0;
	margin-top: 20px;

	li:first-child {
		padding-left: 0;
	}

	li {
		display: inline;
		padding: 0 2px;
	}
}