<div class="page-footer blue-grey darken-1">
	<div class="container center-align">
		<div class="row">
			<div class="col 16 s12">
				<ul class="white-text hz-list">
					<li><a class="deep-orange-text text-accent-2" href="mailto:{{ site.email }}">Email</a></li>
					<li><strong>·</strong></li>
					<li><a class="deep-orange-text text-accent-2" href="https://github.com/{{ site.github_username }}">GitHub</a></li>
					<li><strong>·</strong></li>
					<li><a class="deep-orange-text text-accent-2" href="http://{{ site.bitbucket_username }}.bitbucket.org/">Bitbucket</a></li>
					<li><strong>·</strong></li>
					<li><a class="deep-orange-text text-accent-2" href="https://www.linkedin.com/pub/andrew-shapro/4b/a62/4b2">LinkedIn</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container white-text">
			© 2015 Andrew Shapro
		</div>
	</div>
</div>
