/**
 * Basic styling
 */
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust: 100%;
	background-color: #ECF0F1;
	color: #2C3E50;
}

a {
	color: #3498DB;
}

a:active {
	color: #2980B9;
}

a:hover {
	color: #2980B9;
}

a:visited {
	color: #2980B9;
}

.as-nav {
	.navbar-brand {
		font-weight: 700;
	}
}

.as-footer-links {
	font-weight: 400;
}
