/**
 * Basic styling
 */
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust: 100%;
}

.as-nav {
	.navbar-brand {
		font-weight: 700;
		color: #193441;
	}
}

.as-footer {
	color: #3E606F;
}
