html, body {
	height: 100%;
}

.as-nav {
	border-bottom: 1px solid #3E606F;
}

.as-content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -82px;
}

.as-footer {
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
	border-top: 1px solid #3E606F;
	margin-bottom: 0;
	height: 82px;
}

.push {
	height: 82px;
}

.as-footer-links {
	padding-left: 0;
	margin-top: 20px;

	li:first-child {
		padding-left: 0;
	}

	li {
		display: inline;
		padding: 0 2px;
	}
}
