body {
	padding-bottom: 70px;
}

.as-nav {
	border-bottom: 1px solid #3E606F;  
}

.as-footer {
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
	border-top: 1px solid #3E606F;
}

.as-footer-links {
	padding-left: 0;
	margin-top: 20px;

	li:first-child {
		padding-left: 0;
	}

	li {
		display: inline;
		padding: 0 2px;
	}
}